$colores: (
  color_1: black,
  color_2: rgb(243, 249, 243),
  color_3: rgb(255, 253, 243),
  color_4: rgb(243, 240, 216),
  color_5: rgb(203, 211, 153),
  color_6: rgb(182, 29, 29),
);

$tamaño: (
  s: small,
  m: medium,
  l: large,
  xl: x-large,
);
