$colores: (
  color_1: black,
  color_2: rgb(229, 242, 230),
  color_3: rgb(243, 249, 243),
  color_4: rgba(211, 211, 211, 0.143),
  color_5: rgb(243, 240, 216),
  color_6: rgb(203, 211, 153),
  color_7: rgb(182, 29, 29),
  color_8: white,
);

$tamaño: (
  s: small,
  m: medium,
  l: large,
  xl: x-large,
);
